# Assignment-4, by Payal Mahajan, Data Science Essentials Batch-1, Lets Upgrade  
# Ques-1 How to import pandas and check the version?

In [1]:
import pandas as pd

In [2]:
 pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Windows
OS-release       : 7
machine          : AMD64
processor        : Intel64 Family 6 Model 69 Stepping 1, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 1.0.1
numpy            : 1.18.1
pytz             : 2019.3
dateutil         : 2.8.1
pip              : 20.0.2
setuptools       : 45.2.0.post20200210
Cython           : 0.29.15
pytest           : 5.3.5
hypothesis       : 5.5.4
sphinx           : 2.4.0
blosc            : None
feather          : None
xlsxwriter       : 1.2.7
lxml.etree       : 4.5.0
html5lib         : 1.0.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.1
IPython          : 7.12.0
pandas_datareader: None
bs4              : 4.8.2
bottleneck       : 1.3.2
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.5.0
matplotlib       : 3.1.3
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 3.0.3
pandas_gbq       : None
pyarrow          : None
pytables         : None
pytest           : 5.3.5
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.3.13
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.2.7
numba            : 0.48.0

# Ques-2 How to create a series from a numpy array?

In [5]:
import numpy as np
x = np.array(["s", "c", "a", "m"])
data = pd.Series(x)
data

0    s
1    c
2    a
3    m
dtype: object

# Ques-3 How to convert the index of a series into a column of a dataframe?

In [6]:
frame = pd.DataFrame({'Roll Number': ['29', '49', '36', '44'], 
                   'Name': ['Amelia', 'Sam', 'Dean', 'Jessica'], 
                   'Percentage': [97, 90, 70, 82], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']}) 
frame

  Roll Number     Name  Percentage Grade  Subject
0          29   Amelia          97     A  Physics
1          49      Sam          90     A  Physics
2          36     Dean          70     C  Physics
3          44  Jessica          82     B  Physics

# Ques-4 Write the code to list all the datasets available in seaborn library. Load the 'mpg' dataset, Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the materials folder)

In [9]:
import seaborn as sb

In [10]:
sb.load_dataset

In [18]:
m = sb.load_dataset('mpg')
m

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

# Ques-5 Which country origin cars are a part of this dataset?

In [23]:
print(m['origin'].unique())

['usa' 'japan' 'europe']

# Ques-6 Extract the part of the dataframe which contains cars belonging to 'usa'

In [36]:
m['origin'].value_counts()

usa       0.625628
japan     0.198492
europe    0.175879
Name: origin, dtype: float64